.box{
    height: 35rem;
    width: 55rem;
    border: 2px solid rgb(188, 145, 145);
    background-color: rgb(254, 250, 244);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.image-div{
    width: 18rem;
    
}

.image{
    width: 95%;
}

.info-div{
    background-color: rgb(248, 252, 255);
    width: 40%;
    padding: 2rem;
}